body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #242323;
}

canvas {
    display: block;
}

.buttons {
    position: absolute;
    bottom: 100px;
    left: 50%;
}

button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}