body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #242323;
    overflow-x: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: auto;
}

.buttons {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.scene {
    position: relative;
    width: 100%;
    max-width: 1000px;
}